/*SHELL*/

body {font-size:12px; font-family:Tahoma, Verdana, Arial; background:url(../images/bg.jpg) repeat-x top left; margin:0; padding:0;}
img {border:none;}
a {border:none; text-decoration:underline; color:#000000;}
a:hover {text-decoration:none;}
.floatright {float:right;}
.clear {clear:both; margin:0;}
* html .clear {clear:both; padding-top:0px;}
*:first-child+html .clear {clear:both; padding-top:0px;}
.paddingbottom {padding-bottom:30px !important;}

#container {width:760px; margin:0pt auto; position:relative;}

#header {width:760px; position:relative; background:url(../images/header-bg.jpg) no-repeat top left;}
#header .logo a {height:121px; width:370px; display:block;}
#header ul.headerlinks {display:block; width:760px; list-style:none; position:relative; overflow:hidden; margin:0px; padding:8px 10px 0px;}
#header ul.headerlinks li {float:left;}
#header ul.headerlinks li a {float:left; text-align:center; width:105px; padding:9px 0pt; padding-right:5px; color:#0C03B6; margin:0pt 10px; text-transform:uppercase; font-size:11px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
#header ul.headerlinks li a:hover {background:url(../images/header-link-hover-bg.jpg) no-repeat top left; color:#FFFFFF;}
#header div#hours {position:absolute; top:24px; right:10px; text-align:right; color:#fff; font-size:11px; font-weight:bold;}
#header div#hours span {font-weight:normal; color:#EFD2F0;}
#header div#address {position:absolute; top:57px; right:20px; width:270px; text-align:center; font-family:"Times New Roman", Times, serif; font-weight:bold; font-style:italic; font-size:15px;}
#header div#address span.phone {font-size:20px; color:#6336CD;}

#bodycontainer {width:760px; position:relative; overflow:hidden; background:#FFFFFF url(../images/bodycontainer-bg.jpg) repeat-x top left; margin-top:5px;}

#bodycontent {width:578px; position:relative; float:right; padding:20px 0pt;}

#leftnav {width:182px; float:left;}
#leftnav ul.nav {width:167px; background:url(../images/ul-bg.jpg) repeat-x top left; margin:0; list-style:none; padding:0; padding-bottom:70px; padding-top:5px;}
#leftnav ul.nav li {display:block; width:167px;}
#leftnav ul.nav li:hover {background:url(../images/hover-bg.jpg) repeat-y top left;}
#leftnav ul.nav li.sfhover {background:url(../images/hover-bg.jpg) repeat-y top left;}
#leftnav ul.nav li a {display:block; padding:3px 5px 3px 25px; background:url(../images/left-nav-bullet.gif) no-repeat 12px 10px; text-decoration:none; font-weight:bold; color:#000; font-family:Arial, Helvetica, sans-serif;}

#footer {width:760px; padding:15px 0pt; background:url(../images/footer-bg.jpg) repeat-x top left;}
#footer .copyright {text-align:right; display:block; padding-right:10px; color:#0C03B6; font-size:11px;}


/*HOMEPAGE*/
h1.title {margin:0; padding-left:10px;}
h1.headline {margin:0; padding-left:30px; font-size:15px; font-family:"Lucida Sans", "Times New Roman", serif; color:#0D0BB7; font-weight:bold; font-style:italic; background:url(../images/headline-bg.jpg) no-repeat bottom right; padding-bottom:10px;}
div.infocontainer {padding:0pt 10px;}
div.text {padding:15px 20px; padding-bottom:0px;}
div.sig {font-weight:bold; text-align:right; padding-bottom:30px; padding-right:30px; padding-top:30px;}
div.image {margin-left:15px; margin-right:15px;}
ul.classes {list-style:none; margin:15px 0; padding-left:25px;}
ul.classes li {padding:3px 0pt; padding-left:12px; background:url(../images/pink-bullet.gif) no-repeat 0px 8px;}
ul.classes li a {text-decoration:none;}
ul.classes li a:hover {text-decoration:underline;}
table#daycarehours {margin-left:10px;}
table#daycarehours th, table#daycarehours td {padding:5px 0px; vertical-align:top;}
table#daycarehours th {color:#6336CD; width:150px; text-align:left;}
table#daycarehours td {color:#1008B6;}
h2 {color:#6336CD; font-size:16px; font-weight:bold; margin:5px 0pt !important;}